/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
    background-color: black;
}

.left{
    width: 50%;
    float:left;
}

.right{
    width:50%;
    float:right;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.navbar-burger span{
    height:3px;
    width: 30px;
    top: 10px;
    left: calc(50% - 13px);
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 8px);
}
.navbar-burger span:nth-child(2) {
    top: calc(50% - 0px);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 8px);
}
.navbar-burger.is-active span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.active {
        text-decoration:underline;
    }
h1{
    padding-left: 40px;
    font-family: 'Sarabun', sans-serif;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    color: dodgerblue;
}

h2 {
    padding-left: 40px;
    font-family: 'Sarabun', sans-serif;
    font-size: 20pt;
    font-weight: 700;
    text-align: left;
    padding-bottom: 40px;
    color: dodgerblue;
}

@media only screen and (max-width : 992px) {
    
h1{
    padding-left: 40px;
    font-family: 'Sarabun', sans-serif;
    font-size: 23pt;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    color: dodgerblue;
}
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.agendaentry {

}

.agendatitle {
  padding: 10px 15px;
  color: black;
}

a {
  text-decoration: none;
}

.carousel .carousel-container .carousel-item.has-background .is-background {
  box-sizing: border-box;
  height: 500px;
  object-fit: contain;
}
